@import 'partials/base.sass'

/////////////////////////////////////
// Overall styles                  //
/////////////////////////////////////

body
  background: url('../../images/left.jpg') no-repeat 0 -50px $color-back
  background-attachment: fixed
  color: $color-front
  font-family: $font
  font-size: 18px
  margin: 0 105px 0 0
  padding: 0

.clearfix
  display: inline-block
  &:after
    clear: both
    content: "."
    display: block
    height: 0
    line-height: 0
    visibility: hidden

h1
  font-size: 50px
  font-weight: 200
  margin: 0 0 15px 0
  line-height: 48px

h2
  font-size: 18px
  font-weight: 700
  margin: 0 0 10px 0

h1, h2
  text-transform: lowercase
  text-shadow: 1px 1px 1px $color-back

a:active, a:focus
  outline: none
  border: none


/////////////////////////////////////
// Main container                  //
/////////////////////////////////////

header
  margin: 40px 20px 60px 445px 

main
  //background: black
  font-weight: 500
  margin: 0 0 0 520px 

footer
  margin: 0 20px 20px 540px  
  a
    background: $color-back
    color: white
    display: block
    font-size: 18px
    padding: 10px
    text-decoration: none
    text-shadow: 1px 1px 1px rgba(0,0,0, .5)
    -webkit-transition: opacity 500ms ease-out
    -moz-transition: opacity 500ms ease-out
    -o-transition: opacity 500ms ease-out
    transition: opacity 500ms ease-out
    i
      border-bottom: 16px solid white
      border-left: 9px solid transparent
      border-right: 9px solid transparent
      display: inline-block
      height: 0
      margin-right: 3px
      width: 0
    &:hover
      opacity: .8

/////////////////////////////////////
// Content sections                //
/////////////////////////////////////

.box
  cursor: pointer
  float: left
  height: 200px
  margin: 0 0 20px 20px
  position: relative
  width: 200px
  img
    left: 0
    position: absolute
    top: 0
    opacity: 0
  .content
    display: block
    color: white 
    height: 180px
    left: 0
    padding: 10px
    position: absolute
    text-decoration: none
    text-shadow: 1px 1px 1px rgba(0,0,0, .3)
    top: 0
    width: 180px
    z-index: 14
    h3
      margin: 0
    p 
      margin: 0

  &.websites
    background-color: $color-back-section-1

  &.design
    background-color: $color-back-section-2

  &.scene
    background-color: $color-back-section-3

  &.personal
    background-color: $color-back-section-4 

/////////////////////////////////////
// Navigation                      //
/////////////////////////////////////

.topic-select
  position: fixed
  right: 0
  top: 0
  width: 100px
  .websites
    background-color: $color-back-section-1
  .design
    background-color: $color-back-section-2
  .scene
    background-color: $color-back-section-3
  .personal
    background-color: $color-back-section-4


// Easter egg
.eye
  height: 70px
  left: 195px
  position: absolute
  top: 220px
  width: 150px

