@import 'partials/base.sass'

/////////////////////////////////////
// Overall styles                  //
/////////////////////////////////////

body
  background-color: $color-back
  color: $color-front
  font-family: $font
  font-size: 18px
  margin: 0 105px 0 0
  padding: 0

.clearfix
  display: inline-block
  &:after
    clear: both
    content: "."
    display: block
    height: 0
    line-height: 0
    visibility: hidden

h1
  font-size: 50px
  font-weight: 200
  margin: 0 0 15px 0
  line-height: 48px

h2
  font-size: 18px
  font-weight: 700
  margin: 0 0 10px 0

h1, h2
  //text-transform: lowercase
  text-shadow: 1px 1px 1px $color-back

a:active, a:focus
  outline: none
  border: none

/////////////////////////////////////
// Main container                  //
/////////////////////////////////////

aside
  background: url('../../images/left.jpg') no-repeat 0 -50px $color-back
  position: fixed
  width: 1000px
  height: 1000px
  top: 0
  left: 0
  //-webkit-filter: invert(90%)
  //filter: invert(90%)

header
  margin: 40px 20px 60px 445px 
  z-index: 2
  position: relative

main
  //background: black
  font-weight: 500
  margin: 0 0 0 510px 

footer
  margin: 0 20px 20px 530px 
  position: relative 
  a
    background: $color-back
    color: white
    display: block
    font-size: 18px
    padding: 10px
    text-decoration: none
    text-shadow: 1px 1px 1px rgba(0,0,0, .5)
    +fader(500ms)
    i
      border-bottom: 16px solid white
      border-left: 9px solid transparent
      border-right: 9px solid transparent
      display: inline-block
      height: 0
      margin-right: 3px
      width: 0
    &:hover
      opacity: .8

/////////////////////////////////////
// Content sections                //
/////////////////////////////////////

.box
  cursor: pointer
  float: left
  height: 200px
  margin: 0 0 20px 20px
  overflow: hidden
  position: relative
  width: 200px
  img
    left: 0
    position: absolute
    top: 0
  .content
    display: block
    color: white 
    height: 180px
    left: 0
    padding: 10px
    position: absolute
    text-decoration: none
    text-shadow: 1px 1px 1px rgba(0,0,0, .3)
    top: 0
    width: 180px
    z-index: 14
    h3
      margin: 0
    p
      margin: 0
  span
    background-color: rgba(0,0,0, .3)
    display: block
    height: 37px 
    left: 0
    padding: 13px 10px 0 10px
    position: absolute
    width: 100%
    i
      border-bottom: 7px solid transparent
      border-left: 13px solid white
      border-top: 7px solid transparent
      display: inline-block
      height: 0
      margin-right: 3px
      width: 0

  .content + img
    opacity: 0.15
    +fader(500ms)
  .content:hover + img
    opacity: 1

  .content ~ span
    bottom: -50px
    -webkit-transition: bottom 500ms ease-out
    -moz-transition: bottom 500ms ease-out
    -o-transition: bottom 500ms ease-out
    transition: bottom 500ms ease-out
  .content:hover ~ span
    bottom: 0px

  &.websites
    background-color: $color-back-section-1
  &.design
    background-color: $color-back-section-2
  &.scene
    background-color: $color-back-section-3
  &.personal
    background-color: $color-back-section-4 

/////////////////////////////////////
// Navigation                      //
/////////////////////////////////////

.topic-select
  position: fixed
  right: 0
  top: 0
  width: 103px
  z-index: 3
  fieldset
    border: none
    display: block
    float: left
    height: 5000px
    margin: 0 1px 0 0
    overflow: hidden
    padding: 0
    position: relative
    width: 25px
  fieldset:last-child
    margin-right: 0
  input
    margin: 15px 0 0 5px
  label
    display: block
    height: 302px
    left: 0
    position: absolute
    text-align: right
    text-shadow: 1px 1px 1px rgba(0,0,0, .5)
    top: 42px
    -moz-transform: rotate(-90deg)
    -ms-transform: rotate(-90deg)
    -o-transform: rotate(-90deg)
    -webkit-transform: rotate(-90deg)
    transform: rotate(-90deg)
    width: 300px
  .websites
    background-color: $color-back-section-1
  .design
    background-color: $color-back-section-2
  .scene
    background-color: $color-back-section-3
  .personal
    background-color: $color-back-section-4



// Easter egg
.eye
  height: 70px
  left: 195px
  position: absolute
  top: 220px
  width: 150px