$font: 'Dosis', 'Arial', sans-serif

$color-back: #181818
$color-back-inverse: #e7e7e7
$color-front: #fff

$color-back-section-1: DarkOrange
$color-back-section-2: #8bab00
$color-back-section-3: MediumVioletRed
$color-back-section-4: Teal

$darkness: 10%
$color-front-section-1: darken( $color-back-section-1, $darkness )
$color-front-section-2: darken( $color-back-section-2, $darkness )
$color-front-section-3: darken( $color-back-section-3, $darkness )
$color-front-section-4: darken( $color-back-section-4, $darkness )

=fader($speed, $prop)
  -webkit-transition: $prop $speed ease-out
  -moz-transition: $prop $speed ease-out
  -o-transition: $prop $speed ease-out
  transition: $prop $speed ease-out

=textShadow
  text-shadow: 1px 1px 1px rgba(0,0,0, .5)
