// Media queries

// Website
@media only screen and (max-width: 1080px)
  .eye
    left: 80px
  aside.face
    left: -125px
  header
    margin-left: 240px
  main
    margin-left: 220px
  footer
    margin-left: 240px

@media only screen and (max-width: 640px)
  header
    margin: 20px 10px 40px 10px
  h1
    font-size: 30px
    line-height: 30px
  .eye
    display: none
  aside.face
    left: -495px
  main
    margin-left: 0px
    .box
      font-size: 16px
      margin: 0 0 10px 10px
      width: 170px
      .content  
        width: 150px
  footer
    margin: 0 10px 20px 10px

@media only screen and (max-width: 360px)
  body
    margin: 120px 0 0 0
  header
    margin: 0 10px 20px 10px
  main
    margin-left: 0
    margin-right: 0
    width: 100%
    .box
      font-size: 12px
      height: 160px
      width: 45%
      .content
        height: 140px
        width: 85%
  .topic-select
    width: 100%
    z-index: 15
    fieldset
      border-bottom: 1px solid $color-back
      float: none!important
      height: 25px
      margin: 0
      width: 100%
    input
      margin: 0 10px
    label
      display: inline
      font-size: 16px
      position: static

// About me
@media only screen and (max-width: 1040px)
  .about-me-content-inner
    color: red
    width: 100%
    .about-me-bg-wrapper
      background-position: -20px bottom

@media only screen and (max-width: 800px)

  .about-me-content-inner
    color: green
    .about-me-bg-wrapper
      background-position: -500px bottom
    #about-me-text-top,
    #about-me-text-middle,
    #about-me-text-bottom
      padding-left: 0
      background: yellow
