/////////////////////////////////////
// Navigation                      //
/////////////////////////////////////

$hover-darkness: 8%

.topic-select
  height: 100%
  position: fixed
  right: 0
  top: 0
  width: 103px
  z-index: 3
  fieldset
    border: none
    cursor: pointer
    display: block
    float: left
    height: 100%
    margin: 0 1px 0 0
    overflow: hidden
    padding: 0
    position: relative
    width: 25px
    +fader(500ms, background-color)
  fieldset:last-child
    margin-right: 0
  input
    cursor: pointer
    margin: 15px 0 0 5px
  label
    cursor: pointer
    display: block
    height: 302px
    left: 0
    position: absolute
    text-align: right
    +textShadow()
    top: 42px
    -moz-transform: rotate(-90deg)
    -ms-transform: rotate(-90deg)
    -o-transform: rotate(-90deg)
    -webkit-transform: rotate(-90deg)
    transform: rotate(-90deg)
    width: 300px
  .websites
    background-color: $color-back-section-1
    &:hover
      background-color: darken($color-back-section-1, $hover-darkness)
  .design
    background-color: $color-back-section-2
    &:hover
      background-color: darken($color-back-section-2, $hover-darkness)
  .scene
    background-color: $color-back-section-3
    &:hover
      background-color: darken($color-back-section-3, $hover-darkness)
  .personal
    background-color: $color-back-section-4
    &:hover
      background-color: darken($color-back-section-4, $hover-darkness)

// Easter egg
.eye
  height: 70px
  left: 195px
  position: fixed
  top: 220px
  width: 150px