<form
  class="topic-select clearfix">
  <fieldset class="websites">
    <input type="checkbox" data-ng-click="handleTopicClick('websites')" >
    <label>
      Frontend Development
    </label>
  </fieldset>
  <fieldset class="design">
    <input type="checkbox" data-ng-click="handleTopicClick('design')">
    <label>
      Grafik und Screendesign
    </label>
  </fieldset>
  <fieldset class="scene">
    <input type="checkbox" data-ng-click="handleTopicClick('scene')">
    <label>
      Demo Scene
    </label>
  </fieldset>
  <fieldset class="personal">
    <input type="checkbox" data-ng-click="handleTopicClick('personal')">
    <label>
      &Uuml;ber mich
    </label>
  </fieldset>
</form>
